html, body, h1, h2, h3, p, div, form {
  padding: 0;
  margin: 0; }

html, body {
  margin: 0;
  padding: 0; }

body, input {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: medium;
  color: #121212; }

a {
  color: #121212; }

main, figure, footer {
  display: block; }

figure {
  margin: 1.5em 0;
  position: relative;
  box-sizing: border-box; }

figcaption {
  font-weight: 400;
  font-size: x-small;
  font-style: italic;
  margin: .5em 0; }

figcaption a {
  text-decoration: none; }

img {
  max-width: 100%; }

h1 {
  font-size: xx-large;
  font-weight: 600;
  margin: 0; }

h2, h3 {
  margin: 2em 0 .5em 0; }

h1 + h2 {
  margin-top: .5em; }

p {
  margin: 1em 0;
  line-height: 1.5;
  font-weight: 300; }

em {
  font-weight: bold;
  font-style: normal; }

.back-us {
  width: 8em;
  height: 8em;
  position: relative;
  float: right;
  margin: 0 0 .5em .5em;
  text-align: center;
  color: #FBEC5D;
  -webkit-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
          transform: rotate(10deg); }
  .back-us .animation-wrapper, .back-us div {
    width: 100%;
    height: 100%;
    position: absolute; }
  .back-us .animation-wrapper {
    z-index: 1;
    -webkit-animation: kickstarter 12s infinite;
            animation: kickstarter 12s infinite;
    fill: currentColor; }
    .back-us .animation-wrapper.foreground {
      top: 0;
      right: 0;
      color: #FBEC5D; }
    .back-us .animation-wrapper.background {
      top: .25em;
      right: -.3em;
      color: rgba(251, 236, 93, 0.4); }
  .back-us div {
    display: table;
    z-index: 2; }
  .back-us figure {
    display: table-cell;
    vertical-align: middle; }
  .back-us figcaption {
    color: #121212;
    font-size: x-small;
    font-style: normal; }

.kickstarter-logo {
  width: 3em;
  height: 3.556635220125786em; }

.schedule-location {
  margin: 0 0 2em 0;
  font-size: larger; }

.em {
  font-weight: 600; }

.tagline {
  font-weight: 600;
  font-style: italic;
  font-size: x-large; }

.clear {
  clear: both; }

main {
  max-width: 48em;
  margin: 1em auto 3em auto;
  padding: 0 1em; }

sup {
  font-weight: 300; }

label {
  display: block;
  margin-bottom: .5em; }

label span {
  position: absolute;
  top: 0;
  left: -1000%; }

fieldset {
  margin: 0;
  padding: 0;
  border: none; }

input {
  padding: .5em;
  width: 100%;
  border: 1px solid #aaa;
  box-sizing: border-box; }

input[type=submit] {
  cursor: pointer; }

.response {
  margin: .5em 0;
  font-weight: 600; }

#mce-success-response {
  color: #2ca02c; }

#mce-error-response {
  color: #6B0505; }

footer {
  padding: 1em 0;
  background-color: #FBEC5D; }

footer section {
  margin-top: 2em;
  max-width: 48em;
  margin: 0 auto;
  padding: 0 1em; }

.kickstarter {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; }
  .kickstarter iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.speaker {
  display: block;
  text-align: center;
  text-decoration: none; }
  .speaker figure {
    margin-top: 0; }
  .speaker img {
    border-radius: 50%; }

@media all and (min-width: 30em) {
  .back-us {
    width: 12em;
    height: 12em;
    margin: 0 0 2em 2em; }
    .back-us figcaption {
      font-size: medium; }
  .fields {
    display: table;
    width: 100%; }
  .fields > * {
    display: table-cell; }
  label {
    margin-bottom: 0; }
  label input {
    border-right-width: 0; } }

@media all and (min-width: 40em) {
  figure {
    max-width: 50%; }
    figure.video {
      max-width: none;
      width: 50%; }
  figure.left {
    float: left;
    padding-right: 1em;
    margin: 0 1em 1em 0; }
  figure.right {
    float: right;
    padding-left: 1em;
    margin: 1em 0 1em 1em; }
  .speaker {
    display: inline-block; }
    .speaker.left {
      float: left;
      clear: left;
      margin-right: 1.5em; }
    .speaker.right {
      float: right;
      clear: right;
      margin-left: 1.5em; }
    .speaker figure {
      max-width: 100%; } }

@media all and (min-width: 50em) {
  main {
    margin: 3em auto; } }

@media all and (min-width: 72em) {
  .back-us {
    margin-right: -3em; }
  figure.left {
    margin-left: -10em;
    max-width: 34em; }
  figure.right {
    margin-right: -10em;
    max-width: 34em; }
  figure.video {
    max-width: none;
    width: 34em; }
  .speaker.left {
    margin-left: -6em; }
  .speaker.right {
    margin-right: -6em; } }

@-webkit-keyframes kickstarter {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1); }
  10% {
    -webkit-transform: rotate(180deg) scale(1);
            transform: rotate(180deg) scale(1); }
  12% {
    -webkit-transform: rotate(180deg) scale(1.1);
            transform: rotate(180deg) scale(1.1); }
  15% {
    -webkit-transform: rotate(180deg) scale(1);
            transform: rotate(180deg) scale(1); }
  100% {
    -webkit-transform: rotate(180deg) scale(1);
            transform: rotate(180deg) scale(1); } }

@keyframes kickstarter {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1); }
  10% {
    -webkit-transform: rotate(180deg) scale(1);
            transform: rotate(180deg) scale(1); }
  12% {
    -webkit-transform: rotate(180deg) scale(1.1);
            transform: rotate(180deg) scale(1.1); }
  15% {
    -webkit-transform: rotate(180deg) scale(1);
            transform: rotate(180deg) scale(1); }
  100% {
    -webkit-transform: rotate(180deg) scale(1);
            transform: rotate(180deg) scale(1); } }
