html, body, h1, h2, h3, p, div, form {
  padding: 0;
  margin: 0; }

html, body {
  margin: 0;
  padding: 0; }

body, input {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: medium;
  color: #121212; }

a {
  color: #121212; }

main, figure, aside, footer {
  display: block; }

figure {
  margin: 1.5em 0;
  position: relative;
  box-sizing: border-box; }

figcaption {
  font-weight: 400;
  font-size: x-small;
  font-style: italic;
  margin: .5em 0; }

figcaption a {
  text-decoration: none; }

img {
  max-width: 100%; }

h1 {
  font-size: xx-large;
  font-weight: 600;
  margin: 0; }

h2, h3 {
  margin: 2em 0 .5em 0; }

h1 + h2 {
  margin-top: .5em; }

p {
  margin: 1em 0;
  line-height: 1.5;
  font-weight: 300; }

em {
  font-weight: bold;
  font-style: normal; }

aside {
  background-color: #D6FFDB; }

.logo {
  float: right;
  margin: 0 0 1em 1em;
  max-width: 5em; }

.schedule-location {
  margin: 0 0 2em 0;
  font-size: larger; }

.em {
  font-weight: 600; }

.tagline {
  font-weight: 600;
  font-style: italic;
  font-size: x-large; }

.clear {
  clear: both; }

#sponsors section {
  max-width: 48em;
  margin: 1em 0 0 0;
  padding: 1.5em 1em 1em 1em; }

main {
  max-width: 48em;
  margin: 1em auto 3em auto;
  padding: 0 1em; }

sup {
  font-weight: 300; }

label {
  display: block;
  margin-bottom: .5em; }

label span {
  position: absolute;
  top: 0;
  left: -1000%; }

fieldset {
  margin: 0;
  padding: 0;
  border: none; }

input {
  padding: .5em;
  width: 100%;
  border: 1px solid #aaa;
  box-sizing: border-box; }

input[type=submit] {
  cursor: pointer; }

.response {
  margin: .5em 0;
  font-weight: 600; }

#mce-success-response {
  color: #2ca02c; }

#mce-error-response {
  color: #6B0505; }

#tickets-bg, #tickets-stream {
  background-color: #c1ffc8;
  text-align: center;
  font-size: 200%;
  border-radius: 5px;
  padding: 1em; }

footer, header {
  padding: 1em 0;
  background-color: #c1ffc8; }
  footer section, header section {
    max-width: 48em;
    margin: 0 auto;
    padding: 0 1em; }

header h2 {
  margin-top: .5em; }

footer section {
  margin-top: 2em; }

.kickstarter {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; }
  .kickstarter iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.wrap-speaker {
  margin-top: 3em;
  clear: both; }

.speaker {
  display: block;
  text-align: center;
  text-decoration: none; }
  .speaker figure {
    margin-top: 0; }
  .speaker img {
    border-radius: 50%; }

@media all and (min-width: 30em) {
  .logo {
    max-width: 8em; }
  .fields {
    display: table;
    width: 100%; }
  .fields > * {
    display: table-cell; }
  label {
    margin-bottom: 0; }
  label input {
    border-right-width: 0; } }

@media all and (min-width: 40em) {
  .logo {
    max-width: 10em;
    margin-left: 2em; }
  figure {
    max-width: 50%; }
    figure.video {
      max-width: none;
      width: 50%; }
  figure.left {
    float: left;
    padding-right: 1em;
    margin: 0 1em 1em 0; }
  figure.right {
    float: right;
    padding-left: 1em;
    margin: 1em 0 1em 1em; }
  .speaker {
    display: inline-block; }
    .speaker.left {
      float: left;
      clear: left;
      margin-right: 1.5em; }
    .speaker.right {
      float: right;
      clear: right;
      margin-left: 1.5em; }
    .speaker figure {
      max-width: 100%; } }

@media all and (min-width: 50em) {
  main {
    margin: 3em auto; }
  #sponsors section {
    margin: 0 auto; } }

@media all and (min-width: 72em) {
  figure.left {
    margin-left: -10em;
    max-width: 34em; }
  figure.right {
    margin-right: -10em;
    max-width: 34em; }
  figure.video {
    max-width: none;
    width: 34em; }
  figure.square {
    max-width: 50%; }
  .speaker.left {
    margin-left: -6em; }
  .speaker.right {
    margin-right: -6em; } }

@-webkit-keyframes kickstarter {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1); }
  10% {
    -webkit-transform: rotate(180deg) scale(1);
            transform: rotate(180deg) scale(1); }
  12% {
    -webkit-transform: rotate(180deg) scale(1.1);
            transform: rotate(180deg) scale(1.1); }
  15% {
    -webkit-transform: rotate(180deg) scale(1);
            transform: rotate(180deg) scale(1); }
  100% {
    -webkit-transform: rotate(180deg) scale(1);
            transform: rotate(180deg) scale(1); } }

@keyframes kickstarter {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1); }
  10% {
    -webkit-transform: rotate(180deg) scale(1);
            transform: rotate(180deg) scale(1); }
  12% {
    -webkit-transform: rotate(180deg) scale(1.1);
            transform: rotate(180deg) scale(1.1); }
  15% {
    -webkit-transform: rotate(180deg) scale(1);
            transform: rotate(180deg) scale(1); }
  100% {
    -webkit-transform: rotate(180deg) scale(1);
            transform: rotate(180deg) scale(1); } }
